[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
ipykernel = "*"
devtools = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.10"
